body{
    background:orange;
    color: white;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border:2px dashed red;
    width: 350px;
    height: 300px;
}
.name_of_objects{
    color: blue;
}
#result_object_name,#result_object_accuracy{
    color: purple;
}